* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: antiquewhite;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgba(220, 20, 60, 0.534);
}

section {
    height: 100vh;
    background-color: rgba(8, 8, 8, 0.952);
}

.header .logo {
    height: 50px;
    width: 50px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    color: antiquewhite;
    /* letter-spacing: 4px; */
    padding-right: 25px;
    font-weight: bold;
    font-size: 20px;
}

.container {
    width: 980px;
    height: 100vh;
    margin: auto;
    background-color: darkslategray;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main {
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    height: 90vh;
}

.Codecrafters {
    color: rgba(220, 20, 60, 0.534);
}

.Goals {
    margin-top: 15px;
    padding: 10px;
}

form {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

.form-register {
    max-width: 400px;
    margin: 0 auto;
}

form input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 0;
    color: #000000;
    font-weight: bold;
    border-radius: 5px;
}

form label {
    display: inline-block;
    margin-top: 20px;
    background-color: #00000093;
}

form button {
    display: block;
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

footer {
    font-size: 18px;
    letter-spacing: 4px;
    text-align: center;
    padding: 10px;
}