<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <section>
        <div class="container">
            <div class="header">
                <a href="/"><img class="logo" src="/logo.png" alt="logo"></a>
                <nav class="nav">
                    <ul>
                        <a href="/">
                            <li>Home</li>
                        </a>
                        <a href="/register">
                            <li>Register</li>
                        </a>
                        <a href="/login">
                            <li>Login</li>
                        </a>
                        <a href="/user/shortUrl">
                            <li>Short Url</li>
                        </a>
                    </ul>
                </nav>
            </div>