<%- include('partials/header.ejs') %>

    <div class="main">
        <h3><strong class="Codecrafters">Page Not Found</strong></h3>
        <h1><strong>404</strong></h1>
    </div>

    <%- include('partials/footer.ejs') %>