<%- include('partials/header.ejs') %>

    <div class="main">
        <h3><strong class="Codecrafters">Codecrafters</strong> URL shortener</h3>
        <p>This project is a simple URL shortening application that enables the user to shorten any url.</p>

        <div class="Goals">
            <h3 class="Codecrafters">Goals</h3>

            <p>1. Save the main URL and the shortened URL.</p>
            <p>2. Redirected to the main URL when another user clicks on the link</p>
            <p>3. Fetch all links that have been created by a particular</p>
            <p>4. Fetch a particular link created by a user</p>
        </div>
        <div class="Goals">
            <h3 class="Codecrafters">Brief</h3>

            <p>This project is to help you understand relationships between different records, and also
                configure redirects when a
                particular link is visited. A particular user will be limited to 50 URLs they can create.
            </p>
        </div>

    </div>
    <%- include('partials/footer.ejs') %>