<%- include('partials/header.ejs') %>

    <div class="main">
        <h3><strong class="Codecrafters">Register</strong></h3>
        <div class="form-register">
            <form action="/login" method="POST">
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" required>

                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" required>

                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" required>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <button>Submit</button>
            </form>
        </div>

    </div>
    <%- include('partials/footer.ejs') %>